{% set version = 'version-39' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Casework App v39</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">21st March - 3rd April 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-39/1-new-designs/A-search">Remove pages</a></li>
          <li><a href="/version-39/1-new-designs/A-search">UR design updates</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-39/2-cps-user-journey/A-dashboard">User dashboard...</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-39/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
