{% set version = 'version-35' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m">Polaris v35</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">25th January - 7th February 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-35/1-new-designs/A-search">New "loading" screen</a></li>
          <li><a href="/version-35/1-new-designs/A-search">Search PII iteration</a></li>
          <li><a href="/version-35/1-new-designs/A-search">Accessbility improvements</a></li>
          <li><a href="/version-35/1-new-designs/A-search">Reduced white space</a></li>
          <li><a href="/version-35/1-new-designs/A-search">Improved search</a></li>
     </ul>
</div>
