{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V1.html" %}
{% endblock %}
{% block beforeContent %}
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="wrapper gov-pages">
            <h1 class="govuk-heading-l" style="">
                Enter the new name which applies to your document
            </h1>
            <div id="changeCategory-hint" class="govuk-hint">
                {% if data['scenario'] == 'one' %}
                    <p class="govuk-body">You're changing the name of <mark class="hods-highlight"><strong>Asset Rec 1</strong></mark></p>
                {% elseif data['scenario'] == 'two' %}
                    <p class="govuk-body">You're changing the name of <mark class="hods-highlight"><strong>Material 27</strong></mark></p>
                {% elseif data['scenario'] == 'three' %}
                    <p class="govuk-body">You're changing the name of <mark class="hods-highlight"><strong>Material 007</strong></mark></p>
                {% endif %}

            </div>

            <form method="get" action="E-check-answers">  

                {% if data['scenario'] == 'one' %}
                    <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-one-half" id="docType-Scenario-1-NAME" name="docType-Scenario-1-NAME" type="text" value="Asset Rec 1">
                    </div>                
                {% elseif data['scenario'] == 'two' %}
                    <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-one-half" id="docType-Scenario-2-NAME" name="docType-Scenario-2-NAME" type="text" value="Material 27">
                    </div>                
                {% elseif data['scenario'] == 'three' %}
                    <div class="govuk-form-group">
                        <input class="govuk-input govuk-!-width-one-half" id="docType-Scenario-3-NAME" name="docType-Scenario-3-NAME" type="text" value="Material 007">
                    </div>                
                {% endif %}

                <button type="submit" class="govuk-button" style="">Continue</button>
                <button type="button" onclick="location.href='../1-new-designs/C-casefile-1.html';" class="non-button margin-left" id="cancelPageLoad">Cancel</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}