{% set version = 'version-43' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Casework App v43</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">1st June - 19th June 2024</p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-43/1-new-designs/A-search">1 - Search journey (shows documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-43/1-new-designs/C-casefile-1">2 - Casefile page (no documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-43/5-other-pages/1-service-unavailable">3 - Service unavailable page</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>     
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li>Print document</li>
          <li>Email document</li>
          <li>Rotate pages</li>
          <li>Tasks</li>
          <li>Sort by "witness"</li>
          <li>Tasks journey for UR</li>
          <li>New Zoom feature</li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-43/2-cps-user-journey/A-dashboard">User dashboard...</a></li>
          <li><a href="/version-43/6-cps-task-journey/A-dashboard">Complete a task...</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-43/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
