{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V1.html" %}
{% endblock %}
{% block beforeContent %}
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="wrapper gov-pages">
            <h1 class="govuk-heading-l" style="">
                Do you want to change the document status?
            </h1>
            <div id="changeCategory-hint" class="govuk-hint">
                {% if data['scenario'] == 'one' %}
                    <p class="govuk-body">You're changing the status of <mark class="hods-highlight"><strong>Asset Rec 1</strong></mark></p>
                {% elseif data['scenario'] == 'two' %}
                    <p class="govuk-body">You're changing the status of <mark class="hods-highlight"><strong>MG11 - 1</strong></mark></p>
                {% elseif data['scenario'] == 'three' %}
                    <p class="govuk-body">You're changing the status of <mark class="hods-highlight"><strong>Exhibit - 1</strong></mark></p>
                {% endif %}

            </div>

            <form method="get" action="F-check-answers">  

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                {% if data['docType-document-status'] == 'Unused' and data['answers-complete'] == 'true' %}
                                    <input class="govuk-radios__input" id="docType-document-status-Evidential" name="docType-document-status" type="radio" value="Evidential">
                                {% else %}
                                    <input class="govuk-radios__input" id="docType-document-status-Evidential" name="docType-document-status" type="radio" value="Evidential" checked>
                                {% endif %}
                                <label class="govuk-label govuk-radios__label" for="docType-document-name-Evidential">Evidential</label>
                            </div>
                            <div class="govuk-radios__item">
                                {% if data['docType-document-status'] == 'Unused' and data['answers-complete'] == 'true' %}
                                    <input class="govuk-radios__input" id="docType-document-status-Unused" name="docType-document-status" type="radio" value="Unused" checked>
                                {% else %}
                                    <input class="govuk-radios__input" id="docType-document-status-Unused" name="docType-document-status" type="radio" value="Unused">
                                {% endif %}
                                <label class="govuk-label govuk-radios__label" for="docType-document-status-Unused">Unused</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button" style="">Continue</button>
                <input id="answers-complete" name="answers-complete" type="text" value="true" class="visuallyhidden">
                <button type="button" onclick="location.href='../1-new-designs/C-casefile-1.html';" class="non-button margin-left" id="cancelPageLoad">Cancel</button>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="image-holder">
            {% if data['scenario'] == 'one' %}
                <img src="../../../public/files/Asset-Rec-PREVIEW.png" alt="Asset Rec - 1 - Preview" class="">
            {% elseif data['scenario'] == 'two' %}
                <img src="../../../public/files/MG11_1-PREVIEW.png" alt="MG11 - 1 - Preview" class="">
            {% elseif data['scenario'] == 'three' %}
                <img src="../../../public/files/MG12_1-PREVIEW.png" alt="Exhibit - 1 - Preview" class="">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}