{% set version = 'version-34' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m">Polaris v34</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">2nd January - 24th January 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-34/1-new-designs/A-search">Itereation from UR and new "Action plan"</a></li>
          <li><a href="/version-34/1-new-designs/A-search">"Notes"</a></li>
          <li><a href="/version-34/1-new-designs/A-search">"Document comments" feature</a></li>
          <li><a href="/version-34/1-new-designs/A-search">Testing large cases and see what additonal features are needed to help the users.</a></li>
     </ul>
</div>
