{% set version = 'version-37' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Polaris v37</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">22nd February - 6th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-37/1-new-designs/A-search">UR changes</a></li>
          <li><a href="/version-37/1-new-designs/A-search">New redaction design</a></li>
          <li><a href="/version-37/1-new-designs/A-search">Previous document version</a></li>
          <li><a href="/version-37/1-new-designs/A-search">Remove document pages</a></li>
          <li><a href="/version-37/1-new-designs/A-search">Show users in case</a></li>
          <li><a href="/version-37/1-new-designs/A-search">Bulk redaction</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">22nd February - 6th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-37/2-cps-user-journey/A-dashboard">User dashboard...
          </a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">22nd February - 6th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-37/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
