{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        <div class="wrapper gov-pages">

            <h1 class="govuk-heading-xl" style="">Case materials</h1>

            <form method="get" action="4C-create-case" id="newCase_Form-B">  

                <div class="govuk-form-group">
                    <h3 class="govuk-heading-s">Egress</h3>
                    <p>Below is where the case materials will be place and shared within Egress, you can copy and paste the link and share with the approriate users.</p>
                    <input type="text" value="https://cps.egresscloud.com/w/edit/66fd8bd1158de0c2ca41b172/" id="filePath-Egress" class="url-text" disabled>
                    <a class="govuk-button copy-button" id="copyEgressLink" onclick="copyEgressLink()">Copy path</a>
                </div>

                <div class="govuk-form-group">
                    <h3 class="govuk-heading-s">Shared drive</h3>
                    <p>Below is where the case materials will be place and shared within the Shared Drive, you can copy and paste the link and share with the approriate users.</p>
                    <input type="text" value="\\ Public (P:) > RCTCaseData > SCCTD > CTD > Live Op > {{ data['newCase_OperationName'] }}" id="filePath-Drive" class="url-text" disabled>
                    <a class="govuk-button copy-button" id="copyDriveLink" onclick="copyDriveLink()">Copy path</a>
                </div>

                <div class="govuk-form-group">
                    <h3 class="govuk-heading-s">Outlook emails</h3>
                    <p>Below is where the case materials will be place and shared within Outlool, you can copy and paste the link and share with the approriate users.</p>
                    <input type="text" value="Public (P:) > RCTCaseData > SCCTD > CTD > Live Op > {{ data['newCase_OperationName'] }}" id="filePath-Outlook" class="url-text" disabled>
                    <a class="govuk-button copy-button" id="copyOutlookLink" onclick="copyOutlookLink()">Copy path</a>
                </div>

                <p> </p>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Set access rights for this case?</legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="newCase_Access--Now" name="newCase_Access" type="radio" value="Now" checked>
                                <label class="govuk-label govuk-radios__label" for="newCase_Access--Now">Now</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="newCase_Access--Later" name="newCase_Access" type="radio" value="Later">
                                <label class="govuk-label govuk-radios__label" for="newCase_Access--Later">Later</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button" style="">Continue</button>
                <button type="button" onclick="location.href='2-homepage';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}