{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

{% if data['caseAccess'] == 'true' %}
<div class="govuk-grid-row">
{% else %}
<div class="govuk-grid-row" id="create-case-journey">
{% endif %}
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <h1 class="govuk-heading-xl" style="">Case materials</h1>

            <form method="get" action="5-case-overview" id="newCase_Form-C">  

                <p> </p>

                <div id="userDetails-1">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email">Who would you like to share this case with?</label>
                        <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email" name="newCase_Access-Email" type="text">
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions">What permissions would you like them to have?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions" name="newCase_Access-Permissions">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="CPS Admin">CPS Admin</option>
                            <option value="CPS Prosecutor and Paralegal">CPS Prosecutor and Paralegal</option>
                            <option value="CPS Unit Manager">CPS Unit Manager</option>
                            <option value="Download only">Download only</option>
                            <option value="Guest User">Guest User</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button add-user-button" id="addUser1" onclick="addUser1()"><span class="icon-new"></span>Add user</a>
                </div>

                <div id="userDetails-2">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email2">Who would you like to share this case with?</label>
                        <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email2" name="newCase_Access-Email2" type="text">
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions2">What permissions would you like them to have?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions2" name="newCase_Access-Permissions2">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="CPS Admin">CPS Admin</option>
                            <option value="CPS Prosecutor and Paralegal">CPS Prosecutor and Paralegal</option>
                            <option value="CPS Unit Manager">CPS Unit Manager</option>
                            <option value="Download only">Download only</option>
                            <option value="Guest User">Guest User</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button add-user-button" id="addUser2" onclick="addUser2()"><span class="icon-new"></span>Add user</a>
                </div>

                <div id="userDetails-3">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email3">Who would you like to share this case with?</label>
                        <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email3" name="newCase_Access-Email3" type="text">
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions3">What permissions would you like them to have?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions3" name="newCase_Access-Permissions3">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="CPS Admin">CPS Admin</option>
                            <option value="CPS Prosecutor and Paralegal">CPS Prosecutor and Paralegal</option>
                            <option value="CPS Unit Manager">CPS Unit Manager</option>
                            <option value="Download only">Download only</option>
                            <option value="Guest User">Guest User</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button add-user-button" id="addUser3" onclick="addUser3()"><span class="icon-new"></span>Add user</a>
                </div>

                <div id="userDetails-4">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email4">Who would you like to share this case with?</label>
                        <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email4" name="newCase_Access-Email4" type="text">
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions4">What permissions would you like them to have?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions4" name="newCase_Access-Permissions4">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="CPS Admin">CPS Admin</option>
                            <option value="CPS Prosecutor and Paralegal">CPS Prosecutor and Paralegal</option>
                            <option value="CPS Unit Manager">CPS Unit Manager</option>
                            <option value="Download only">Download only</option>
                            <option value="Guest User">Guest User</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button add-user-button" id="addUser4" onclick="addUser4()"><span class="icon-new"></span>Add user</a>
                </div>

                <div id="userDetails-5">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email5">Who would you like to share this case with?</label>
                        <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email5" name="newCase_Access-Email5" type="text">
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions5">What permissions would you like them to have?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions5" name="newCase_Access-Permissions5">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="CPS Admin">CPS Admin</option>
                            <option value="CPS Prosecutor and Paralegal">CPS Prosecutor and Paralegal</option>
                            <option value="CPS Unit Manager">CPS Unit Manager</option>
                            <option value="Download only">Download only</option>
                            <option value="Guest User">Guest User</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button add-user-button" id="addUser5" onclick="addUser5()"><span class="icon-new"></span>Add user</a>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <input id="caseAccess" name="caseAccess" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Save and exit</button>
                {% if data['caseAccess'] == 'true' %}
                    <button type="button" onclick="location.href='5-case-overview';" class="non-button margin-left" id="">Cancel</button>
                {% else %}
                    <button type="button" onclick="location.href='2-homepage';" class="non-button margin-left" id="">Cancel</button>
                {% endif %}

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="existing-contacts">
            <h2 class="govuk-heading-s" style="">Existing contacts</h2>
            <div class="contacts">
                <div id="new-contacts">
                    <p><span class="icon-new user"></span>{{ data['offCMS_Username'] }}<br><strong class="govuk-tag">Administrator</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}