{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                {% if data['newCase_OperationName'] %}
                    <h1 class="govuk-heading-xl" style="">Add Outstanding Actions log to {{ data['newCase_OperationName'] }}</h1>
                {% else %}
                    <h1 class="govuk-heading-xl" style="">Add Outstanding Actions log to {{ data['newCase_DefendantName-Surname'] }}, {{ data['newCase_DefendantName-Forename'] }}</h1>
                {% endif %}
            {% elseif data['existing_Case'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add Outstanding Actions log to Groundhog day</h1>
            {% endif %}

            <form method="get" action="5-case-overview#strategyTab_subTab_7" id="">  

                <p> </p>

                <!-- OPTION 1 - START -->
                <div class="govuk-form-group govuk-!-width-two-thirds">
                    <label class="govuk-label govuk-label--s" for="actions_Log-Action">Action</label>
                    <div id="actions_Log-Action" name="actions_Log-Action" rows="5" contenteditable="true" class="editor govuk-textarea"></div>
                </div>
                <!-- OPTION 1 - END -->

                <!-- OPTION 2 - START -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                {% if data['actions_Log-Status'] == 'Open' %}
                                    <input class="govuk-radios__input" id="actions_Log-Status-Open" name="actions_Log-Status" type="radio" value="Open" checked>
                                {% else %}
                                    <input class="govuk-radios__input" id="actions_Log-Status-Open" name="actions_Log-Status" type="radio" value="Open">
                                {% endif %}
                                <label class="govuk-label govuk-radios__label" for="actions_Log-Status-Open">Open</label>
                            </div>
                            <div class="govuk-radios__item">
                                {% if data['actions_Log-Status'] == 'Closed' %}
                                    <input class="govuk-radios__input" id="actions_Log-Status-Closed" name="actions_Log-Status" type="radio" value="Closed" checked>
                                {% else %}
                                    <input class="govuk-radios__input" id="actions_Log-Status-Closed" name="actions_Log-Status" type="radio" value="Closed">
                                {% endif %}
                                <label class="govuk-label govuk-radios__label" for="actions_Log-Status-Closed">Closed</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- OPTION 2 - END -->

                <input id="strategy_14_Complete" name="strategy_14_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="" onclick="return saveActionsLog();">Save and exit</button>
                <button type="button" onclick="location.href='5-case-overview#strategyTab_subTab_7';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}