{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                {% if data['newCase_OperationName'] %}
                    <h1 class="govuk-heading-xl" style="">Add a Bail and custody decision to {{ data['newCase_OperationName'] }}</h1>
                {% else %}
                    <h1 class="govuk-heading-xl" style="">Add a Bail and custody decision to {{ data['newCase_DefendantName-Surname'] }}, {{ data['newCase_DefendantName-Forename'] }}</h1>
                {% endif %}
            {% elseif data['existing_Case'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add a Bail and custody decision to Groundhog day</h1>
            {% endif %}

            <form method="get" action="5-case-overview#strategyTab_subTab_7" id="">  

                <p> </p>

                <!-- OPTION 1 - START -->
                <div class="govuk-form-group govuk-!-width-two-thirds">
                    <label class="govuk-label govuk-label--s" for="custody_Decision">Bail and custody decision</label>
                    <div id="custody_Decision" name="custody_Decision" rows="5" contenteditable="true" class="editor govuk-textarea"></div>
                </div>
                <!-- OPTION 1 - END -->

                <!-- OPTION 2 - START -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="custody_CTL_Date-hint">
                        <legend class="govuk-fieldset__legend govuk-label--s">CTL Expiry date</legend>
                        <div id="custody_CTL_Date-hint" class="govuk-hint">For example, 27 3 2007</div>
                        <div class="govuk-date-input" id="custody_CTL_Date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="custody_CTL_Date-Day">Day</label>
                                    {% if data['custody_CTL_Date-Day'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="custody_CTL_Date-Day" name="custody_CTL_Date-Day" type="text" inputmode="numeric" value="{{ data['custody_CTL_Date-Day'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="custody_CTL_Date-Day" name="custody_CTL_Date-Day" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="custody_CTL_Date-Month">Month</label>
                                    {% if data['custody_CTL_Date-Month'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="custody_CTL_Date-Month" name="custody_CTL_Date-Month" type="text" inputmode="numeric" value="{{ data['custody_CTL_Date-Month'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="custody_CTL_Date-Month" name="custody_CTL_Date-Month" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="custody_CTL_Date-Year">Year</label>
                                    {% if data['custody_CTL_Date-Year'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="custody_CTL_Date-Year" name="custody_CTL_Date-Year" type="text" inputmode="numeric" value="{{ data['custody_CTL_Date-Year'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="custody_CTL_Date-Year" name="custody_CTL_Date-Year" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- OPTION 2 - END -->

                <!-- OPTION 3 - START -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                            <!-- 1 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_1" name="ctl_dates_1" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_1-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_1">CTL no longer applies</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_1-conditional">
                                <div class="govuk-date-input" id="ctl_dates_1">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_1-Day">Day</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_1-Day" name="ctl_dates_1-Day" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_1-Month">Month</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_1-Month" name="ctl_dates_1-Month" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_1-Year">Year</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ctl_dates_1-Year" name="ctl_dates_1-Year" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1 -->

                            <!-- 2 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_2" name="ctl_dates_2" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_2-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_2">First day in custody in court</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_2-conditional">
                                <div class="govuk-date-input" id="ctl_dates_2">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_2-Day">Day</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_2-Day" name="ctl_dates_2-Day" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_2-Month">Month</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_2-Month" name="ctl_dates_2-Month" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_2-Year">Year</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ctl_dates_2-Year" name="ctl_dates_2-Year" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->

                            <!-- 3 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_3" name="ctl_dates_3" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_3-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_3">Announced in court?</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_3-conditional">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                                                <label class="govuk-label govuk-radios__label" for="changedName">Yes</label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                                                <label class="govuk-label govuk-radios__label" for="changedName-2">No</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>                            
                            </div>
                            <!-- 3 -->

                            <!-- 4 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_4" name="ctl_dates_4" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_4-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_4">Date released on bail</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_4-conditional">
                                <div class="govuk-date-input" id="ctl_dates_4">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_4-Day">Day</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_4-Day" name="ctl_dates_4-Day" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_4-Month">Month</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_4-Month" name="ctl_dates_4-Month" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_4-Year">Year</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ctl_dates_4-Year" name="ctl_dates_4-Year" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4 -->

                            <!-- 5 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_5" name="ctl_dates_5" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_5-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_5">Days served in custody</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_5-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="ctl_dates_5-Number_Days">Number of days</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ctl_dates_5-Number_Days" name="ctl_dates_5-Number_Days" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <!-- 5 -->

                            <!-- 6 -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ctl_dates_6" name="ctl_dates_6" type="checkbox" value="ctl_dates" data-aria-controls="ctl_dates_6-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="ctl_dates_6">Date Re-Remanded in custody</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="ctl_dates_6-conditional">
                                <div class="govuk-date-input" id="ctl_dates_6">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_6-Day">Day</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_6-Day" name="ctl_dates_6-Day" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_6-Month">Month</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ctl_dates_6-Month" name="ctl_dates_6-Month" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="ctl_dates_6-Year">Year</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ctl_dates_6-Year" name="ctl_dates_6-Year" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 6 -->

                        </div>
                    </fieldset>
                </div>                
                <!-- OPTION 3 - END -->

                <input id="strategy_16_Complete" name="strategy_16_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="" onclick="return saveDecisionLog();">Save and exit</button>
                <button type="button" onclick="location.href='5-case-overview#strategyTab_subTab_7';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}