{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V3.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div id="image-wrapper" class="A-Dashboard">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">My dashboard</h1>
            <div class="wrapper">
                <img src="../../../public/images/cps-concept/A-Dashboard.jpg" alt="My Dashboard" class="cps-concept-image">
            </div>
        </div>
    </div>
</div>

{% endblock %}