{% set version = 'version-42' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Casework App v42</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">3rd May - 30th May 2024</p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-42/1-new-designs/A-search">1 - Search journey (shows documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-42/1-new-designs/C-casefile-1">2 - Casefile page (no documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-42/5-other-pages/1-service-unavailable">3 - Service unavailable page</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>     
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li>Amended cross CPS journey</li>
          <li>UR design updates</li>
          <li>New pipeline refresh journey</li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-42/2-cps-user-journey/A-dashboard">User dashboard...</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-42/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
