{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% endblock %}
{% block content %}
<style>
.govuk-footer__copyright-logo {
    display: none;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 50% !important;
    }
}

@media (max-width: 641px) {
    .govuk-header__logotype-text {
        font-size: 22px;
    }
}
</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="">Defendants and charges</h1>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Mclove, Eoin
            <span class="govuk-caption-m">DOB: 16 October 1985</span>
            <span class="govuk-caption-m">Age: 36</span></h2>
        <table class="govuk-table" style="margin-bottom:60px">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Proposed charges</th>
                    <th scope="col" class="govuk-table__header">Custody time limit</th>
                    <th scope="col" class="govuk-table__header">Custody end</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="max-width:320px">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                    <td class="govuk-table__cell">45 days</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Crilly, Ted
            <span class="govuk-caption-m">DOB: 12 September 1980</span>
            <span class="govuk-caption-m">Age: 41</span></h2>
        <table class="govuk-table" style="margin-bottom:60px">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Charges</th>
                    <th scope="col" class="govuk-table__header">Custody time limit</th>
                    <th scope="col" class="govuk-table__header">Custody end</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="max-width:320px">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                    <td class="govuk-table__cell">45 days</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">McGuire, Dougal
            <span class="govuk-caption-m">DOB: 12 May 1992</span>
            <span class="govuk-caption-m">Age: 30</span></h2>
        <table class="govuk-table" style="margin-bottom:60px">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Proposed charges</th>
                    <th scope="col" class="govuk-table__header">Custody time limit</th>
                    <th scope="col" class="govuk-table__header">Custody end</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="max-width:320px">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                    <td class="govuk-table__cell">45 days</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Hackett, Jack
            <span class="govuk-caption-m">DOB: 02 Jan 2001</span>
            <span class="govuk-caption-m">Age: 21</span></h2>
        <table class="govuk-table" style="margin-bottom:60px">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Proposed charges</th>
                    <th scope="col" class="govuk-table__header">Custody time limit</th>
                    <th scope="col" class="govuk-table__header">Custody end</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="max-width:320px">Section 39 Common assault 01/06/2020. Contrary to the Criminal Justice Act 1988</td>
                    <td class="govuk-table__cell">45 days</td>
                    <td class="govuk-table__cell">May 30 2022</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}