
<div class="modal">
    <div aria-label="cookie banner" class="das-cookie-banner__wrap das-cookie-banner__modal">
        <div class="das-cookie-banner" style=>
            <div class="das-cookie-banner__wrapper govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="innerPanel" style="">
                   <!--      <h2 class="govuk-heading-m das-cookie-banner__header">Search results</h2>
                        <p class="das-cookie-banner__message">We use <a href="/help/cookies" class="govuk-link govuk-link--no-visited-state">cookies to collect information</a> about how you use this service. We use this information to make the service work as well as possible and improve this service.</p> -->



                       <!--  end of inner panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






