{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/nav/v4/mainNav.html" %}
{% include "includes/cps/nav/v4/redactNav.html" %}

{% endblock %}
{% block content %}
<style>.govuk-footer__copyright-logo {
    display: none;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 50% !important;
    }
}

@media (max-width: 641px) {
    .govuk-header__logotype-text {
        font-size: 22px;
    }
}
</style>
<style>
    //new task list stuff goes here

.task-list-item:after {
  content: '';
  display: block;
  clear: both;
}

.task-list {
  margin-top: 30px;
  list-style-type: none;
  padding-left:0;
}

@media (min-width: 641px) {
  .task-list {
 
  }
}

.find-list {
  font-weight: 700;

}

.results-header a {
  text-decoration: none;
}


.task-list-section-number {
  display: table-cell;
  padding-right: 5px;
}

@media (min-width: 641px) {
  .task-list-section-number {
    min-width: 35px;
    padding-right: 0;
  }
}

.task-list-items {
  margin-bottom: 30px;
}

@media (min-width: 641px) {
  .task-list-items {
    margin-bottom: 60px;
  }
}

@media (min-width: 641px) {
  .task-list-items {
    padding-left: 35px;
  }
}

</style>
<script>
    // var firstTimeReg = JSON.parse(localStorage.getItem('registration.firstTimeReg'));
    // var completeAgreement = JSON.parse(localStorage.getItem('registration.completeAgreement')); // "no" means not done the agreement
    // var completeTax = JSON.parse(localStorage.getItem('registration.completeTax')); //"no" means not done any of the tax stuff. 
    var MG31Redacted = {{ data['MG31Redacted'] }};
    var MG31NotRedacted = {{ data['MG31NotRedacted'] }};

console.log( MG31Redacted, MG31NotRedacted );

$(document).ready(function() {
  var changeStuff = function() {  
       switch (true) {

              case  (MG31Redacted == true) || (MG31NotRedacted == true):
              $(mclovemg3NotStarted).addClass("rj-dont-display");
              $(mclovemg3Completed).removeClass("rj-dont-display");
             
           break;


        // Coming from registration and agreement and tax are both done
          // case  (firstTimeReg == 'yes') && (completeAgreement != 'no') && (completeTax != 'no'):
          //     $(firstTimeRegMessage).removeClass("rj-dont-display");
          //     localStorage.setItem("registration.firstTimeReg", JSON.stringify("no"));
          //  break;
        // Coming from registration and agreement and tax are both NOT done
           //  case  (firstTimeReg == 'yes') && ((completeAgreement == 'no') && (completeTax == 'no')):
           //    $(firstTimeRegMessageIncomplete).removeClass("rj-dont-display")
           //  localStorage.setItem("registration.firstTimeReg", JSON.stringify("no"));
           // break;

        // Coming from registration and agreement is not done but tax is done
           //   case  (firstTimeReg == 'yes') && ((completeAgreement == 'no') || (completeTax == 'yes')):
           //   console.log("agreement is not done but tax IS Done")
           //    $(firstTimeRegMessageIncompleteAgreementOnly).removeClass("rj-dont-display")
           //  localStorage.setItem("registration.firstTimeReg", JSON.stringify("no"));
           // break;

         // Coming from registration and agreement is done but TAX is NOT done
           // case  (firstTimeReg == 'yes') && ((completeAgreement == 'yes') || (completeTax == 'no')):
           //     console.log("agreement is  done but tax is NOT one")
           //    $(firstTimeRegMessageIncompleteTaxOnly).removeClass("rj-dont-display")
           //  localStorage.setItem("registration.firstTimeReg", JSON.stringify("no"));
           // break;

           default:
            // localStorage.setItem("registration.firstTimeReg", JSON.stringify("no"));
            console.log("bork bork bork what");
            break;
        } 
      }
changeStuff();
});

</script>
<!--                 <div style= "" id="firstTimeRegMessage" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Account setup complete</h1>
             
               </div>
                <div style= "" id="firstTimeRegMessageIncomplete" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Account setup incomplete</h1>
                   <p>You must add your tax details and sign your ESFA agreement before you can start using this account.</p>
               </div>
                <div style= "" id="firstTimeRegMessageIncompleteTaxOnly" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Account setup incomplete</h1>
                   <p>You must add your tax details before you can start using this account.</p>
               </div>
                <div style= "" id="firstTimeRegMessageIncompleteAgreementOnly" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Account setup incomplete</h1>
                   <p>You must sign your ESFA agreement before you can start using this account.</p>
               </div> -->
<section id="allContentHome" class="">
    <!--    <h1 class="govuk-heading-xl" style="" id="company-Name">McLove, Eoin
      <span class="govuk-caption-l">45AA209820/1</span></h1> -->
    <h1 class="govuk-heading-xl" style="" id="company-Name">Redact documents</h1>
    <h2 class="govuk-heading-l" style="" id="company-Name">McLove, Eoin
        <span class="govuk-caption-m">45AA209820/1</span></h2>
    <!--      <p>You have completed 0 of 2 sections</p> -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds column-minimum">
            <!--     <h2 class="govuk-heading-l " style="" id="">Redaction documents</h2> -->
         <!--    <ol class="app-task-list" style=""> -->
                <!--            <p class="" style="margin-bottom:35px" >Use this step by step list to help you employ an apprentice:</p> -->
                <ol class="task-list">
                    <li class="">
                        <h2 class="app-task-list__section"><span class="task-list-section-number">1. </span>
                            Review tagged documents</h2>
                        <p style="padding-left:35px">Documents were tagged during the case review as having redactable information.</p>
                        <ul class="app-task-list__items" style="">
                            <li class="app-task-list__item " id="claimMyFunding">
                                <a class="app-task-list__task-name" href="mclovemg3" aria-describedby="eligibility-completed">
                                    MCLOVEMG3
                                </a>
                                <!-- <span style="">2 pieces</span> -->
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="mclovemg3NotStarted">NOT STARTED</strong>
                                <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="mclovemg3Completed">COMPLETED</strong>
                            </li>
                            <li class="app-task-list__item " id="claimMyFunding">
                                <a class="app-task-list__task-name" href="./finance/reserve/new" aria-describedby="eligibility-completed">
                                    stmt JONES 1 JUNE mg11
                                </a>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="jonesMG11NotStarted">NOT STARTED</strong>
                                <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="jonesMG11Completed">COMPLETED</strong>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section"><span class="task-list-section-number">2. </span>
                            Review automatically identified documents
                        </h2>
                        <p style="padding-left:35px">Documents were identified by software as having redactable information.</p>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="./find" aria-describedby="company-information-completed">
                                    Shelagh McLove VPS mg11
                                </a>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="vpsMG11NotStarted">NOT STARTED</strong>
                                <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="vpsMG11Completed">COMPLETED</strong>
                            </li>
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="./savedApprenticeships">
                                    stmt Shelagh McLove MG11
                                </a>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="mcloveMG11NotStarted">NOT STARTED</strong>
                                <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="mcloveMG11Completed">COMPLETED</strong>
                            </li>
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="./savedApprenticeships">
                                    stmt Lucy Doyle MG11 </a>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="doyleMG11NotStarted">NOT STARTED</strong>
                                <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="doyleMG11Completed">COMPLETED</strong>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <h2 class="app-task-list__section"><span class="task-list-section-number">3. </span>
                            Confirm changes</h2>
                        <p style="padding-left:35px">Confirm redactions and save all updated files.</p>
                        <ul class="app-task-list__items" style="">
                            <li class="app-task-list__item " id="claimMyFunding">
                                <a class="app-task-list__task-name" href="mclovemg3" aria-describedby="eligibility-completed">
                                    Confirm changes
                                </a>
                                <!-- <span style="">2 pieces</span> -->
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="finish">CANNOT START YET</strong>
                              <!--   <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="mclovemg3Completed">COMPLETED</strong> -->
                            </li>
     
                        </ul>
                    </li>
                </ol>


  <!--         <form method="get" action="searchresultsMultiple">
            <button type="submit" class="govuk-button" style="">Continue</button>
        </form> -->
        </div>

   
        <!--                     <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel"  style="">
                                    <p>You do not have any tasks</p>
                                </div>
                                  <div class="js-tab-pane rj-dont-display " id="pane-tasks-tax" role="tabpanel"  style=";">
                                    <h3 class="govuk-heading-s " style="margin-bottom:0"><a href="./paye">Add tax details</a></h3>
                                    <p>You need to add your tax details to use this service</p>
                                </div>
                                    <div class="js-tab-pane rj-dont-display" id="pane-tasks-agreement" role="tabpanel"  style="">
                                    <h3 class="govuk-heading-s " style="margin-bottom:0"><a href="./orgs">Sign your agreement</a></h3>
                                    <p>You need to sign the agreement between you and the ESFA to use this service</p>
                                </div>
                            </div>
                        </section>
                    </div> -->
    </div>
    </div>
    </div>
</section>
</main>
{% endblock %}