<!-- ////////////////////////////////////////////// SEOCID MATERIALS - START ////////////////////////////////////////////// -->
<div class="accordion-wrapper">

    <!-- ONE - START -->
    <div class="materials materials_section_1">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">1. Case Management</a> (<span class="number-1">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_1">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- ONE - END -->

    <!-- TWO - START -->
    <div class="materials materials_section_2">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">2. Conference Hearing Notes</a> (<span class="number-2">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_2">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- TWO - END -->

    <!-- THREE - START -->
    <div class="materials materials_section_3">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">3. Experts</a> (<span class="number-3">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_3">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- THREE - END -->

    <!-- FOUR - START -->
    <div class="materials materials_section_4">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">4. Counsel</a> (<span class="number-4">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_4">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- FOUR - END -->

    <!-- FIVE - START -->
    <div class="materials materials_section_5">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">5. Correspondence</a> (<span class="number-5">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_5">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- FIVE - END -->

    <!-- SIX - START -->
    <div class="materials materials_section_6">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">6. Disclosure</a> (<span class="number-6">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_6">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- SIX - END -->

    <!-- SEVEN - START -->
    <div class="materials materials_section_7">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">7. Finance</a> (<span class="number-7">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_7">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- SEVEN - END -->

    <!-- EIGHT - START -->
    <div class="materials materials_section_8">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">8. Lawyer Working copies</a> (<span class="number-8">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_8">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- EIGHT - END -->

    <!-- NINE - START -->
    <div class="materials materials_section_9">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">9. PO Working copies</a> (<span class="number-9">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_9">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- NINE - END -->

    <!-- TEN - START -->
    <div class="materials materials_section_10">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">10. Police</a> (<span class="number-10">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_10">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- TEN - END -->

    <!-- ELEVEN - START -->
    <div class="materials materials_section_11">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">11. Media</a> (<span class="number-11">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_11">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- ELEVEN - END -->

    <!-- TWELVE - START -->
    <div class="materials materials_section_12">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">12. Victims & Witnesses</a> (<span class="number-12">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_12">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- TWELVE - END -->

    <!-- THIRTEEN - START -->
    <div class="materials materials_section_13">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">13. DCS</a> (<span class="number-13">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_13">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- THIRTEEN - END -->

    <!-- FOURTEEN - START -->
    <div class="materials materials_section_14">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">14. Mags Ct</a> (<span class="number-14">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_14">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- FOURTEEN - END -->

    <!-- FIFTEEN - START -->
    <div class="materials materials_section_15">
        <h3 class="govuk-heading-m">
            <div class="name_Wrapper"><a class="title-open">15. IDPC</a> (<span class="number-15">0</span>)</div>
            <a onclick="return toggleButtonShow();" class="preview-materials-link">Show <span class="icon-new arrow-down"></span></a>
            <a onclick="return toggleButtonHide();" class="hide-materials-link">Hide <span class="icon-new arrow-up"></span></a>
        </h3>
        <div class="materials-details-wrapper" style="display: none;">
            <p class="documents-holder">There are no documents currently in this folder</p>
            <div class="documents-available move_to_folder_15">
                {% include "../../includes/off-system/files.html" %}
            </div>
        </div>
    </div>
    <!-- FIFTEEN - END -->

</div>
<!-- ////////////////////////////////////////////// SEOCID MATERIALS - END ////////////////////////////////////////////// -->
