{% set version = 'version-52' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Off CMS Cases v8</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">6th January 2025 - 13th January 2025</p>
     <p class="govuk-body govuk-!-margin-bottom-0">
          <form method="get" action="/version-52/A-off-system/1-login" id="">  
               <input id="verion_MVP" name="verion_MVP" type="text" value="true" style="display: none;">
               <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">Log in - MVP</button>
          </form>
     </p>
     <p class="govuk-body govuk-!-margin-bottom-10">
          <form method="get" action="/version-52/A-off-system/1-login" id="">  
               <input id="verion_MVP" name="verion_MVP" type="text" value="false" style="display: none;">
               <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">Log in - Full service</button>
          </form>
     </p>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Casework App v47</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">1st September - 1st October 2024</p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-52/1-new-designs/A-search">1 - Search journey (shows documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-0"><a href="/version-52/1-new-designs/C-casefile-1">2 - Casefile page (no documents loading)</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-52/5-other-pages/1-service-unavailable">3 - Service unavailable page</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>     
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li>New "remove" and "rotate" journey</li>
          <li>Bg fixes</li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-52/2-cps-user-journey/A-dashboard">User dashboard...</a></li>
          <li><a href="/version-52/6-cps-task-journey/A-dashboard">Complete a task...</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-52/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
