{% set version = 'version-38' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Polaris v38</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">7th March - 20th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-38/1-new-designs/A-search">Rename document</a></li>
          <li><a href="/version-38/1-new-designs/A-search">Move documents</a></li>
          <li><a href="/version-38/1-new-designs/A-search">Bulk redactions</a></li>
          <li><a href="/version-38/1-new-designs/A-search">Amended notes design</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">CPS user journey</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">7th March - 20th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li><a href="/version-38/2-cps-user-journey/A-dashboard">User dashboard...</a></li>
     </ul>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case Materials V3</h2>
     <p class="govuk-body govuk-!-margin-bottom-0">7th March - 20th March 2024</p>
     <ul class="govuk-body govuk-!-margin-bottom-0">
          <li><a href="/version-38/3-case-materials/A-case-list">Case materials prototype</a></li>
     </ul>


</div>
