{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

{% if data['caseAccess'] == 'true' %}
    <div class="govuk-grid-row">
{% else %}
    <div class="govuk-grid-row" id="create-case-journey">
{% endif %}
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <h1 class="govuk-heading-xl" style="">Add team members to {{ data['newCase_OperationName'] }}</h1>

            <form method="get" action="5-case-overview" id="newCase_Form-D">  

                <p> </p>

                <div id="userDetails-1">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email">Email an address or workspace ID</label>
                        {% if data['newCase_Access-Email'] == 'true' %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email" name="newCase_Access-Email" type="text" value="{{ data['newCase_Access-Email'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email" name="newCase_Access-Email" type="text">
                        {% endif %}
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions">What is their role on the case?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions" name="newCase_Access-Permissions">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Paralegal officer">Lead Paralegal officer</option>
                            <option value="Paralegal officer">Paralegal officer</option>
                            <option value="Unit manager">Unit manager</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button govuk-button--secondary" id="addUser1" onclick="addUser1()">Add user</a>
                </div>

                <div id="userDetails-2">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email2">Email an address or workspace ID</label>
                        {% if data['newCase_Access-Email2'] == 'true' %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email2" name="newCase_Access-Email2" type="text" value="{{ data['newCase_Access-Email2'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email2" name="newCase_Access-Email2" type="text">
                        {% endif %}
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions2">What is their role on the case?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions2" name="newCase_Access-Permissions2">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Paralegal officer">Lead Paralegal officer</option>
                            <option value="Paralegal officer">Paralegal officer</option>
                            <option value="Unit manager">Unit manager</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button govuk-button--secondary" id="addUser2" onclick="addUser2()">Add user</a>
                </div>

                <div id="userDetails-3">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email3">Email an address or workspace ID</label>
                        {% if data['newCase_Access-Email3'] == 'true' %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email3" name="newCase_Access-Email3" type="text" value="{{ data['newCase_Access-Email3'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email3" name="newCase_Access-Email3" type="text">
                        {% endif %}
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions3">What is their role on the case?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions3" name="newCase_Access-Permissions3">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Paralegal officer">Lead Paralegal officer</option>
                            <option value="Paralegal officer">Paralegal officer</option>
                            <option value="Unit manager">Unit manager</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button govuk-button--secondary" id="addUser3" onclick="addUser3()">Add user</a>
                </div>

                <div id="userDetails-4">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email4">Email an address or workspace ID</label>
                        {% if data['newCase_Access-Email4'] == 'true' %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email4" name="newCase_Access-Email4" type="text" value="{{ data['newCase_Access-Email4'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email4" name="newCase_Access-Email4" type="text">
                        {% endif %}
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions4">What is their role on the case?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions4" name="newCase_Access-Permissions4">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Paralegal officer">Lead Paralegal officer</option>
                            <option value="Paralegal officer">Paralegal officer</option>
                            <option value="Unit manager">Unit manager</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button govuk-button--secondary" id="addUser4" onclick="addUser4()">Add user</a>
                </div>

                <div id="userDetails-5">
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Email5">Email an address or workspace ID</label>
                        {% if data['newCase_Access-Email5'] == 'true' %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email5" name="newCase_Access-Email5" type="text" value="{{ data['newCase_Access-Email5'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="newCase_Access-Email5" name="newCase_Access-Email5" type="text">
                        {% endif %}
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Access-Permissions5">What is their role on the case?</label>
                        <select class="govuk-select" id="newCase_Access-Permissions5" name="newCase_Access-Permissions5">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Paralegal officer">Lead Paralegal officer</option>
                            <option value="Paralegal officer">Paralegal officer</option>
                            <option value="Unit manager">Unit manager</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                    <a class="govuk-button govuk-button--secondary" id="addUser5" onclick="addUser5()">Add user</a>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <input id="caseAccessLockedDown" name="caseAccessLockedDown" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Save and exit</button>
                {% if data['caseAccess'] == 'true' %}
                    <button type="button" onclick="location.href='5-case-overview';" class="non-button margin-left" id="">Cancel</button>
                {% else %}
                    <button type="button" onclick="location.href='2-homepage';" class="non-button margin-left" id="">Cancel</button>
                {% endif %}

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="existing-contacts">
            <h2 class="govuk-heading-s" style="">CPS team members</h2>
            <div class="contacts">
                <div id="new-contacts">
                    <p><span class="icon-new user"></span>{{ data['offCMS_Username'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Role'] }}</strong></p>
                    {% if data['newCase_Access-Email'] %}
                        <p><span class="icon-new user"></span>{{ data['newCase_Access-Email'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Permissions'] }}</strong></p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Access-Email2'] %}
                        <p><span class="icon-new user"></span>{{ data['newCase_Access-Email2'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Permissions2'] }}</strong></p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Access-Email3'] %}
                        <p><span class="icon-new user"></span>{{ data['newCase_Access-Email3'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Permissions3'] }}</strong></p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Access-Email4'] %}
                        <p><span class="icon-new user"></span>{{ data['newCase_Access-Email4'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Permissions4'] }}</strong></p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Access-Email5'] %}
                        <p><span class="icon-new user"></span>{{ data['newCase_Access-Email5'] }}<br><strong class="govuk-tag govuk-tag--blue">{{ data['newCase_Access-Permissions5'] }}</strong></p>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}