{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <div class="ea-title-wrapper">
            {% if data['caseName_Type'] == 'Operation name' %}
                <h1 class="govuk-heading-l govuk-!-margin-bottom-0" style="">{{ data['newCase_OperationName'] }}</h1>
            {% else %}
                <h1 class="govuk-heading-l govuk-!-margin-bottom-0" style=""><span class="uppercase">{{ data['newCase_DefendantName-Surname'] }}, </span>{{ data['newCase_DefendantName-Forename'] }}</h1>
            {% endif %}                               
            <span class="govuk-caption-m">
            {{ data['newCase_URN-A'] }}
                <!-- CONDITIONAL ELEMTENTS - per division - START -->
                <!-- SCD -->
                {% if 'scd' in data['offCMS_Username'] or 'SCD' in data['offCMS_Username'] %}
                    {{ data['newCase_URN-B'] }}
                <!-- CTD -->
                {% elseif 'ctd' in data['offCMS_Username'] or 'CTD' in data['offCMS_Username'] %}
                    {% if data['newCase_URN-B'] == '14' %}
                        01
                    {% elseif data['newCase_URN-B'] == '15' %}
                        02
                    {% elseif data['newCase_URN-B'] == '16' %}
                        03
                    {% elseif data['newCase_URN-B'] == '17' %}
                        04
                    {% elseif data['newCase_URN-B'] == '18' %}
                        05
                    {% elseif data['newCase_URN-B'] == '19' %}
                        06
                    {% elseif data['newCase_URN-B'] == '20' %}
                        07
                    {% elseif data['newCase_URN-B'] == '21' %}
                        08
                    {% elseif data['newCase_URN-B'] == '22' %}
                        09
                    {% elseif data['newCase_URN-B'] == '23' %}
                        10
                    {% elseif data['newCase_URN-B'] == '24' %}
                        11
                    {% elseif data['newCase_URN-B'] == '25' %}
                        12
                    {% elseif data['newCase_URN-B'] == '26' %}
                        13
                    {% elseif data['newCase_URN-B'] == '27' %}
                        14
                    {% elseif data['newCase_URN-B'] == '28' %}
                        15
                    {% else %}
                        {{ data['newCase_URN-B'] }}
                    {% endif %}
                <!-- SEOCID -->
                {% elseif 'seocid' in data['offCMS_Username'] or 'SEOCID' in data['offCMS_Username'] %}
                    {% if data['newCase_URN-B-77'] %}
                        {{ data['newCase_URN-B-77'] }} 
                    {% elseif data['newCase_URN-B-83'] %}
                        {{ data['newCase_URN-B-83'] }}
                    {% elseif data['newCase_URN-B-85'] %}
                        {{ data['newCase_URN-B-85'] }}
                    {% elseif data['newCase_URN-B-86'] %}
                        {{ data['newCase_URN-B-86'] }}
                    {% elseif data['newCase_URN-B-87'] %}
                        {{ data['newCase_URN-B-87'] }}
                    {% elseif data['newCase_URN-B-88'] %}
                        {{ data['newCase_URN-B-88'] }}
                    {% elseif data['newCase_URN-B-96'] %}
                        {{ data['newCase_URN-B-96'] }}
                    {% else %}
                        {{ data['newCase_URN-B-83'] }}
                    {% endif %}
                <!-- POC -->
                {% elseif 'poc' in data['offCMS_Username'] or 'POC' in data['offCMS_Username'] %}

                {% else %}
                    {{ data['newCase_URN-B'] }}
                {% endif %}
                <!-- CONDITIONAL ELEMTENTS - per division - START -->
                {{ data['newCase_URN-C'] }}
                /
                {{ data['newCase_URN-D'] }}
            </span>
            <p>Autosave is on. Last saved <span id="auto-save"></span></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-10">
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <form method="get" action="5-case-overview#suspectsTab" id="newChargeCode_C">  

                <h2 class="govuk-heading-m govuk-!-margin-bottom-10" style="">Charge details (optional)</h2>

                <!-- OPTION 1 - START -->
                <div class="govuk-form-group inline-form" id="">
                    <label class="govuk-label" for="addCharge_Form-Location">On {{ data['addCharge_Form_Date-Day'] }}/{{ data['addCharge_Form_Date-Month'] }}/{{ data['addCharge_Form_Date-Year'] }} at </label>
                    {% if data['addCharge_Form-Address_1'] %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Location" name="addCharge_Form-Location" type="text" value="{{ data['addCharge_Form-Address_1'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Location" name="addCharge_Form-Location" type="text" value="Location">
                    {% endif %}
                </div>                            
                <!-- OPTION 1 - END -->

                <!-- OPTION 2 - START -->
                <div class="govuk-form-group inline-form" id="">
                    <label class="govuk-label" for="addCharge_Form-Property">without lawful excuse, </label>
                    <select class="govuk-select" id="addCharge_Form-Type" name="addCharge_Form-Type">
                        <option value="Destroyed" selected>Destroyed</option>
                        <option value="Destroyed">Damaged</option>
                    </select>
                    <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Property" name="addCharge_Form-Property" type="text" value="Property">
                </div>                            
                <!-- OPTION 2 - END -->

                <!-- OPTION 3 - START -->
                <div class="govuk-form-group inline-form" id="">
                    <label class="govuk-label" for="addCharge_Form-Property">to the value of</label>
                    {% if data['addCharge_Form-Value'] %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Value" name="addCharge_Form-Value" type="text" value="{{ data['addCharge_Form-Value'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Value" name="addCharge_Form-Value" type="text" value="Value under £5000 pounds">
                    {% endif %}
                    <label class="govuk-label last-of-type">belonging to</label>
                </div>                            
                <!-- OPTION 3 - END -->

                <!-- OPTION 4 - START -->
                <div class="govuk-form-group inline-form" id="">
                    {% if data['addCharge_Form-Value'] %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Value" name="addCharge_Form-Owner" type="text" value="{{ data['addCharge_Form-Owner'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="addCharge_Form-Value" name="addCharge_Form-Owner" type="text" value="Name">
                    {% endif %}            
                    <label class="govuk-label last-of-type" for="addCharge_Form-Owner">intending to destroy or damage such</label>
                </div>                            
                <!-- OPTION 4 - START -->

                <p>property or being reckless as to whether such property would be destroyed or damaged.</p>

                <p><br></p>

                <button type="button" onclick="return generateSummary();" class="govuk-button govuk-button--secondary" data-module="govuk-button">Generate summary of charge particulars</button>

                <!-- OPTION 5 - START -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="addCharge_Form-Particulars">Summary of charge particulars (optional)</label>
                    <textarea class="govuk-textarea" id="addCharge_Form-Particulars" name="addCharge_Form-Particulars" rows="5"> 
                        {{ data['addCharge_Form-Owner'] }}
                    </textarea>
                </div>
                <!-- OPTION 5 - START -->

                <input id="chargeAddedComplete" name="chargeAddedComplete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Save and continue</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}