<div aria-label="cookie banner" class="das-cookie-banner__wrap das-cookie-banner__modal rj-dont-display" id="caseActionBuilderModal">

    <div class="das-cookie-banner caseActionBuilderModal-wrapper x-small" id="openMe">
        <div class="das-cookie-banner__wrapper">

            <div class="govuk-modal-dialogue__header">
                <button aria-label="Close modal dialogue" class="govuk-button govuk-modal-dialogue__close" data-module="govuk-button" type="button" onClick="closeCaseActionBuilderModal()">×</button>
            </div>

            <!-- //////////////////////////////// CASE ACTION PLAN BUILDER - START //////////////////////////////// -->
            <div class="govuk-grid-row" id="case-action-plan-builder-modal">

                <div class="innerPanel simpleModelTwo">

                    <!-- /////////////////////// NO PLAN - START /////////////////////// -->
                    <div id="no-plan">
                        <div class="header-wrapper">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h1 class="govuk-heading-l">
                                        {% if data['searchURN'] %}
                                            {{ data['searchURN'] }}/1
                                        {% else %}
                                            45AA209820/1
                                        {% endif %}                        
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <div class="redaction-wrapper">
                            <form method="" action="">

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        <p></p>
                                        <h1 class="govuk-heading-s">
                                            Case Action Plan                 
                                        </h1>
                                        <p>You have no current Case Action Plan</p>

                                    </div>
                                </div>

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full cta-group">
                                        <button class="non-button" data-module="govuk-button" type="button" onClick="closeCaseActionBuilderModal()">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- /////////////////////// NO PLAN - END /////////////////////// -->

                    <!-- /////////////////////// CASE ACTION PLAN - START /////////////////////// -->
                    <div id="case-action-plan-active">
                        <div class="header-wrapper" id="">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h1 class="govuk-heading-l">
                                        {% if data['searchURN'] %}
                                            {{ data['searchURN'] }}/1 <span>- Case Action Plan</span>
                                        {% else %}
                                            45AA209820/1 <span>- Case Action Plan</span>
                                        {% endif %}                        
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <div class="redaction-wrapper">
                            <form method="" action="">

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        <p></p>

                                        <table class="govuk-table">
                                            <caption class="govuk-table__caption govuk-table__caption--m">Case Action Plan details</caption>
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="10%">Action type</th>
                                                    <th scope="col" class="govuk-table__header" width="15%">Required by Date</th>
                                                    <th scope="col" class="govuk-table__header" width="15%">Specific information</th>
                                                    <th scope="col" class="govuk-table__header" width="50%">Description to Invesgitative Agency</th>
                                                    <th scope="col" class="govuk-table__header" width="10%">Follow up task?</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header"><span class="govuk-tag CAPanswer-type"></span></th>
                                                    <td class="govuk-table__cell">
                                                        <span class="CAPanswer-date-Day"></span>
                                                        <span class="CAPanswer-date-Month"></span>
                                                        <span class="CAPanswer-date-Year"></span>
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        <span class="CAPanswer-info">
                                                            <ul class="govuk-list govuk-list--bullet">
                                                                <li class="Details-Key">Key Witness Details</li>
                                                                <li class="Details-AllKey">All Key Witness Statements</li>
                                                                <li class="Details-NonKey">Non-key Witness Statements</li>
                                                                <li class="Details-Additional">Additional (Non-Key) Witness Statements</li>
                                                                <li class="Details-Witness">Witness Availability</li>
                                                                <li class="Details-Victim">Victim Personal Statement</li>
                                                                <li class="Details-Special">Special Measures Material</li>
                                                                <li class="Details-Convictions">Previous Convictions for all Prosecution Witnesses</li>
                                                                <li class="Details-ROTI">ROTI</li>
                                                                <li class="Details-KeyExibits">Key Exhibits</li>
                                                                <li class="Details-Evidence">Identification Evidence</li>
                                                                <li class="Details-CCTV">CCTV Material</li>
                                                                <li class="Details-Visually">Visually Recorded Evidence</li>
                                                                <li class="Details-Drugs">Initial Drugs Assessment</li>
                                                                <li class="Details-Forensic">Forensic Evidence</li>
                                                                <li class="Details-Medical">Medical Evidence</li>
                                                                <li class="Details-Unused">Unused/Sensitive Material</li>
                                                                <li class="Details-Bad">Bad Character/Dangerous Offender info</li>
                                                                <li class="Details-Orders">Orders on Conviction</li>
                                                                <li class="Details-POCA">POCA Review</li>
                                                                <li class="Details-Compensation">Compensation Details</li>
                                                                <li class="Details-Other">Other (specify)</li>
                                                            </ul>
                                                        </span>
                                                    </td>
                                                    <td class="govuk-table__cell"><span class="CAPanswer-description"></span></td>
                                                    <td class="govuk-table__cell"><span class="CAPanswer-task"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full cta-group">
                                        <button id="" class="govuk-button" data-module="govuk-button" type="button" onClick="closeCaseActionBuilderModal()">Submit Case Action Plan</button>
                                        <button class="non-button" data-module="govuk-button" type="button" onClick="closeCaseActionBuilderModal()">Close</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- /////////////////////// CASE ACTION PLAN - END /////////////////////// -->


                </div>

            </div>
            <!-- //////////////////////////////// CASE ACTION PLAN BUILDER - END //////////////////////////////// -->
        </div>
    </div>
</div>
