{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            {% if data['charges_Add_New_Suspect'] == 'true' %}
                {% if data['charges_Add_New_Suspect-Surname'] %}
                    <h1 class="govuk-heading-xl" style="">Edit {{ data['charges_Add_New_Suspect-Surname'] }}, {{ data['charges_Add_New_Suspect-Forename'] }} data</h1>
                {% else %}
                    <h1 class="govuk-heading-xl" style="">Add Changes to charges data</h1>
                {% endif %}
            {% elseif data['charges_Edit_Suspect_1'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add Changes to charges to {{ data['newCase_DefendantName-Surname'] }}, {{ data['newCase_DefendantName-Forename'] }}</h1>
            {% elseif data['charges_Edit_Suspect_2'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add Changes to charges to {{ data['newCase_OperationName'] }}</h1>
            {% endif %}

            <form method="get" action="5-case-overview#strategyTab_subTab_5" id="">  

                <p> </p>

                {% if data['charges_Add_New_Suspect'] == 'true' %}
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Add_New_Suspect-Surname">Surname</label>
                        {% if data['charges_Add_New_Suspect-Surname'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Surname" name="charges_Add_New_Suspect-Surname" type="text" value="{{ data['charges_Add_New_Suspect-Surname'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Surname" name="charges_Add_New_Suspect-Surname" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Add_New_Suspect-Forename">Forename</label>
                        {% if data['charges_Add_New_Suspect-Forename'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Forename" name="charges_Add_New_Suspect-Forename" type="text" value="{{ data['charges_Add_New_Suspect-Forename'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Forename" name="charges_Add_New_Suspect-Forename" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 2 - END -->

                    <!-- OPTION 3 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Add_New_Suspect-Original">Original charges</label>
                        {% if data['charges_Add_New_Suspect-Original'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Original" name="charges_Add_New_Suspect-Original" type="text" value="{{ data['charges_Add_New_Suspect-Original'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Original" name="charges_Add_New_Suspect-Original" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 3 - END -->

                    <!-- OPTION 4 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Add_New_Suspect-Change">Change to Charge</label>
                        {% if data['charges_Add_New_Suspect-Change'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Change" name="charges_Add_New_Suspect-Change" type="text" value="{{ data['charges_Add_New_Suspect-Change'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Change" name="charges_Add_New_Suspect-Change" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 4 - END -->

                    <!-- OPTION 5 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Add_New_Suspect-Rational">Rational</label>
                        {% if data['charges_Add_New_Suspect-Rational'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Rational" name="charges_Add_New_Suspect-Rational" type="text" value="{{ data['charges_Add_New_Suspect-Rational'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Add_New_Suspect-Rational" name="charges_Add_New_Suspect-Rational" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 5 - END -->
                {% elseif data['charges_Edit_Suspect_1'] == 'true' %}
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_1-Original">Original charges</label>
                        {% if data['charges_Edit_Suspect_1-Original'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Original" name="charges_Edit_Suspect_1-Original" type="text" value="{{ data['charges_Edit_Suspect_1-Original'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Original" name="charges_Edit_Suspect_1-Original" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_1-Change">Change to Charge</label>
                        {% if data['charges_Edit_Suspect_1-Change'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Change" name="charges_Edit_Suspect_1-Change" type="text" value="{{ data['charges_Edit_Suspect_1-Change'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Change" name="charges_Edit_Suspect_1-Change" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 2 - END -->

                    <!-- OPTION 3 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_1-Rational">Rational</label>
                        {% if data['charges_Edit_Suspect_1-Rational'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Rational" name="charges_Edit_Suspect_1-Rational" type="text" value="{{ data['charges_Edit_Suspect_1-Rational'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_1-Rational" name="charges_Edit_Suspect_1-Rational" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 3 - END -->
                {% elseif data['charges_Edit_Suspect_2'] == 'true' %}
                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_2-Original">Original charges</label>
                        {% if data['charges_Edit_Suspect_2-Original'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Original" name="charges_Edit_Suspect_2-Original" type="text" value="{{ data['charges_Edit_Suspect_2-Original'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Original" name="charges_Edit_Suspect_2-Original" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_2-Change">Change to Charge</label>
                        {% if data['charges_Edit_Suspect_2-Change'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Change" name="charges_Edit_Suspect_2-Change" type="text" value="{{ data['charges_Edit_Suspect_2-Change'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Change" name="charges_Edit_Suspect_2-Change" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 2 - END -->

                    <!-- OPTION 3 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="charges_Edit_Suspect_2-Rational">Rational</label>
                        {% if data['charges_Edit_Suspect_2-Rational'] %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Rational" name="charges_Edit_Suspect_2-Rational" type="text" value="{{ data['charges_Edit_Suspect_2-Rational'] }}">
                        {% else %}
                            <input class="govuk-input govuk-input--width-20" id="charges_Edit_Suspect_2-Rational" name="charges_Edit_Suspect_2-Rational" type="text">
                        {% endif %}
                    </div>                    
                    <!-- OPTION 3 - END -->
                {% endif %}

                <input id="strategy_12_Complete" name="strategy_12_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="" onclick="">Save and exit</button>
                <button type="button" onclick="location.href='5-case-overview';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}