{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                {% if data['newCase_OperationName'] %}
                    <h1 class="govuk-heading-xl" style="">Add a International Strategy to {{ data['newCase_OperationName'] }}</h1>
                {% else %}
                    <h1 class="govuk-heading-xl" style="">Add a International Strategy to {{ data['newCase_DefendantName-Surname'] }}, {{ data['newCase_DefendantName-Forename'] }}</h1>
                {% endif %}
            {% elseif data['existing_Case'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add a International Strategy to Groundhog day</h1>
            {% endif %}

            <form method="get" action="5-case-overview#strategyTab_subTab_6" id="">  

                <p> </p>

                <!-- ////////////////////////////////// STRATEGY 11 -- START ////////////////////////////////// -->
                <h2 class="govuk-heading-s govuk-!-margin-top-2">Provide a description of the International Strategy.</h2>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="editor-container">
                            <div class="toolbar">
                                <button onclick="execCmd('bold')"><b>B</b></button>
                                <button onclick="execCmd('italic')"><i>I</i></button>
                                <button onclick="execCmd('underline')"><u>U</u></button>
                                <button onclick="execCmd('fontSize', '5')">A<small>A</small></button>
                                <button onclick="execCmd('insertOrderedList')">1.</button>
                                <button onclick="execCmd('insertUnorderedList')">•</button>
                            </div>
                            <div id="strategy_International-Editor" contenteditable="true" class="editor"></div>
                        </div>
                    </fieldset>
                </div>
                <!-- ////////////////////////////////// STRATEGY 11 -- END ////////////////////////////////// -->

                <input id="strategy_11_Complete" name="strategy_11_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="" onclick="return saveStrategyInternational();">Save and exit</button>
                <button type="button" onclick="location.href='5-case-overview';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}