{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                {% if data['newCase_OperationName'] %}
                    <h1 class="govuk-heading-xl" style="">Add a Record of International Request to {{ data['newCase_OperationName'] }}</h1>
                {% else %}
                    <h1 class="govuk-heading-xl" style="">Add a Record of International Request to {{ data['newCase_DefendantName-Surname'] }}, {{ data['newCase_DefendantName-Forename'] }}</h1>
                {% endif %}
            {% elseif data['existing_Case'] == 'true' %}
                <h1 class="govuk-heading-xl" style="">Add a Record of International Request to Groundhog day</h1>
            {% endif %}

            <form method="get" action="5-case-overview#strategyTab_subTab_6" id="">  

                <p> </p>

                <!-- OPTION 1 - START -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="strategy_International-Country">Country</label>
                    {% if data['strategy_International-Country'] %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Country" name="strategy_International-Country" type="text" value="{{ data['strategy_International-Country'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Country" name="strategy_International-Country" type="text">
                    {% endif %}
                </div>                    
                <!-- OPTION 1 - END -->

                <!-- OPTION 2 - START -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="strategy_International-Type">Type</label>
                    {% if data['strategy_International-Type'] %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Type" name="strategy_International-Type" type="text" value="{{ data['strategy_International-Type'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Type" name="strategy_International-Type" type="text">
                    {% endif %}
                </div>                    
                <!-- OPTION 2 - END -->

                <!-- OPTION 3 - START -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="strategy_International-hint">
                        <legend class="govuk-fieldset__legend"> Date Request Sent</legend>
                        <div id="strategy_International-hint" class="govuk-hint">For example, 27 3 2007</div>
                        <div class="govuk-date-input" id="strategy_International">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="strategy_International-Day_1">Day</label>
                                    {% if data['strategy_International-Day_1'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="strategy_International-Day_1" name="strategy_International-Day_1" type="text" inputmode="numeric" value="{{ data['strategy_International-Day_1'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="strategy_International-Day_1" name="strategy_International-Day_1" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="strategy_International-Month_1">Month</label>
                                    {% if data['strategy_International-Month_1'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="strategy_International-Month_1" name="strategy_International-Month_1" type="text" inputmode="numeric" value="{{ data['strategy_International-Month_1'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="strategy_International-Month_1" name="strategy_International-Month_1" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="strategy_International-Year_1">Year</label>
                                    {% if data['strategy_International-Year_1'] %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="strategy_International-Year_1" name="strategy_International-Year_1" type="text" inputmode="numeric" value="{{ data['strategy_International-Year_1'] }}">
                                    {% else %}
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="strategy_International-Year_1" name="strategy_International-Year_1" type="text" inputmode="numeric">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- OPTION 3 - END -->

                <!-- OPTION 4 - START -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="strategy_International-Transmission">Direct Transmission or via UKCA</label>
                    {% if data['strategy_International-Transmission'] %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Transmission" name="strategy_International-Transmission" type="text" value="{{ data['strategy_International-Transmission'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-20" id="strategy_International-Transmission" name="strategy_International-Transmission" type="text">
                    {% endif %}
                </div>                    
                <!-- OPTION 4 - END -->

                <!-- OPTION 5 - START -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="strategy_International-Response-hint">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="strategy_International-Response" name="strategy_International-Response" type="checkbox" value="Yes">
                                <label class="govuk-label govuk-checkboxes__label" for="strategy_International-Response">Response Received</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- OPTION 5 - END -->

                <input id="strategy_12_Complete" name="strategy_12_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="" onclick="">Save and exit</button>
                <button type="button" onclick="location.href='5-case-overview';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}