{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V3.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "../includes/off-system/modal-EA.html" %}
    {% include "../includes/off-system/modal-Charges.html" %}
    {% include "../includes/off-system/modalConfirmation-RemoveSuspect.html" %}
    {% include "../includes/off-system/modalConfirmation-RemoveWitness.html" %}
    {% include "../includes/off-system/modalConfirmation-RemoveUser.html" %}
    {% include "../includes/off-system/modalConfirmation-LockDown.html" %}
    {% include "../includes/off-system/modal-MaterialsTransfer_1.html" %}
    {% include "../includes/off-system/modal-MaterialsTransfer_2.html" %}
    {% include "../includes/off-system/modal-egressTransfer.html" %}
    {% include "../includes/off-system/modal-MaterialsMove.html" %}
    {% include "../includes/off-system/modal-Comms.html" %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full main_Case_Title">

        {% if data['newCase_URN-Lockdown'] == 'Yes' %}
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <div class="govuk-warning-text govuk-!-margin-bottom-2">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            This case is restricted to specific users.
                        </strong>
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}

        <div class="title-wrapper">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Export case</button>
            {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                {% if data['newCase_OperationName'] %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['newCase_OperationName'] }}</h1>
                {% else %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4"><span class="uppercase">{{ data['newCase_DefendantName-Surname'] }}, </span>{{ data['newCase_DefendantName-Forename'] }}</h1>
                {% endif %}
                <span class="govuk-caption-m govuk-!-margin-bottom-4">
                    {{ data['newCase_URN-A'] }}
                    {{ data['newCase_URN-B'] }}
                    {{ data['newCase_URN-C'] }}
                    /
                    {{ data['newCase_URN-D'] }}
                    {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                        - Date of Registration: <strong id="date-created-timestamp"></strong>
                    {% elseif data['existing_Case'] == 'true' %}
                        - Date of Registration: <strong id="">01/12/2024</strong>
                    {% endif %}
                </span>
            {% elseif data['existing_Case'] == 'true' %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Groundhog day</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">
                    920620952/24
                    {% if data['newCase_OperationName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                        - Date of Registration: <strong id="date-created-timestamp"></strong>
                    {% elseif data['existing_Case'] == 'true' %}
                        - Date of Registration: <strong id="">01/12/2024</strong>
                    {% endif %}
                </span>
            {% endif %}
        </div>

    </div>

    <div class="govuk-grid-column-full">

        <div class="govuk-tabs off-cms-overview" id="new-tabs">

            <!-- /////////////// TABS - START /////////////// -->
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">

                <!-- OVERVIEW - Show on Case creation -->
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" id="tab-1"><a class="tab-link tab-1-content">Overview</a></li>

                <!-- EA/REVIEW - Show on EA -->
                {% if data['completeAndExitEA'] == 'true' and data['comms_Form_Completed'] == 'true' %}
                    <li class="govuk-tabs__list-item" id="tab-2"><a class="tab-link tab-2-content">Case progression (<span class="ea-number">2</span>)</a></li>
                {% elseif data['completeAndExitEA'] == 'true' %}
                    <li class="govuk-tabs__list-item" id="tab-2"><a class="tab-link tab-2-content">Case progression (<span class="ea-number">1</span>)</a></li>
                {% elseif data['comms_Form_Completed'] == 'true' %}
                    <li class="govuk-tabs__list-item" id="tab-2"><a class="tab-link tab-2-content">Case progression (<span class="ea-number">1</span>)</a></li>
                {% else %}
                    <li class="govuk-tabs__list-item" id="tab-2"><a class="tab-link tab-2-content">Case progression (<span class="ea-number">0</span>)</a></li>
                {% endif %}

                <li class="govuk-tabs__list-item" id="tab-3"><a class="tab-link tab-3-content">Case strategy</a></li>

                <!-- ADD SUSPECT - Show on Add -->
                {% if data['newCase_DefendantName-CompanyName'] or data['newCase_DefendantName-Surname'] or data['newCase_DefendantName-Forename'] %}
                    {% if data['chargeAddedComplete'] == 'true' and data['addSuspectStarted'] == 'true' %}
                        <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Defendants & Charges (<span class="suspects-number">2</span>)</a></li>
                    {% elseif data['newCase_DefendantName-CompanyName'] and data['newCase_DefendantName-Surname'] %}
                        <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Suspects & Charges (<span class="suspects-number">2</span>)</a></li>
                    {% elseif data['addSuspectStarted'] == 'true' %}
                        {% if data['addSuspectStarted'] == 'true' and data['newCase_DefendantName-CompanyName'] and data['newCase_DefendantName-Surname'] %}
                            <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Suspects & Charges (<span class="suspects-number">3</span>)</a></li>
                        {% else %}
                            <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Suspects & Charges (<span class="suspects-number">2</span>)</a></li>
                        {% endif %}
                    {% else %}
                        <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Suspects & Charges (<span class="suspects-number">1</span>)</a></li>
                    {% endif %}
                {% else %}
                    <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Suspects & Charges (<span class="suspects-number">0</span>)</a></li>
                {% endif %}

                {% if data['addWitnessStarted'] == 'true' %}
                    <li class="govuk-tabs__list-item" id="tab-5"><a class="tab-link tab-5-content">Witnesses (<span class="witnesses-number">1</span>)</a></li>
                {% else %}
                    <li class="govuk-tabs__list-item" id="tab-5"><a class="tab-link tab-5-content">Witnesses (<span class="witnesses-number zero">0</span>)</a></li>
                {% endif %}

                <li class="govuk-tabs__list-item" id="tab-6"><a class="tab-link tab-6-content">Materials (<span class="materials-number">11</span>)</a></li>

                <li class="govuk-tabs__list-item" id="tab-7"><a class="tab-link tab-7-content">Emails (<span class="comms-number">2</span>)</a></li>

                <li class="govuk-tabs__list-item" id="tab-8"><a class="tab-link tab-8-content">Key contacts</a></li>
                
                <div class="extended-navigation">
                    <a class="tab-link show-hide"><span>More options</span></a>
                    <div class="extra-nav">
                        <li class="govuk-tabs__list-item" id="tab-9"><a class="tab-link tab-9-content">Settings and access</a></li>
                        <li class="govuk-tabs__list-item" id="tab-10"><a class="tab-link tab-10-content">Case history</a></li>
                    </div>    
                </div>
            </ul>   
            <!-- /////////////// TABS - END /////////////// -->

            <!-- /////////////// TAB CONTENT 1 - START /////////////// -->
            <div class="panel" id="tab-1-content">
                {% include "../includes/off-system/overview-overview.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 1 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 2 - START /////////////// -->
            <div class="panel" id="tab-2-content" style="display: none;">
                {% include "../includes/off-system/overview-ea.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 2 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 3 - START /////////////// -->
            <div class="panel" id="tab-3-content" style="display: none;">
                {% include "../includes/off-system/overview-strategy.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 3 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 4 - START /////////////// -->
            <div class="panel" id="tab-4-content" style="display: none;">
                {% include "../includes/off-system/overview-suspects.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 4 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 5 - START /////////////// -->
            <div class="panel" id="tab-5-content" style="display: none;">
                {% include "../includes/off-system/overview-witnesses.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 5 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 6 - START /////////////// -->
            <div class="panel" id="tab-6-content" style="display: none;">
                {% include "../includes/off-system/overview-materials.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 6 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 7 - START /////////////// -->
            <div class="panel" id="tab-7-content" style="display: none;">
                {% include "../includes/off-system/overview-comms.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 7 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 8 - START /////////////// -->
            <div class="panel" id="tab-8-content" style="display: none;">
                {% include "../includes/off-system/overview-contacts.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 8 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 9 - START /////////////// -->
            <div class="panel" id="tab-9-content" style="display: none;">
                {% include "../includes/off-system/overview-permissions.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 9 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 10 - START /////////////// -->
            <div class="panel" id="tab-10-content" style="display: none;">
                {% include "../includes/off-system/overview-cmr.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 10 - END /////////////// -->

        </div>

    </div>

</div>

{% endblock %}