{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="search-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper">
            <h1 class="govuk-heading-xl" style="">
                Find a case
                <span class="govuk-hint"></span>
            </h1>
            <form method="get" action="13B-search-results">
                <fieldset>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="searchOFF_URN">You can use the Operation name, defendants name or case type to search</label>
                        <input class="govuk-input govuk-input--width-20" id="searchOFF_URN" name="searchOFF_URN" type="text" aria-describedby="" value="" />
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button" style="">Search</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}