{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V2.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        <div class="wrapper gov-pages">

            {% if data['newCase_URN-Lockdown'] == 'Yes' %}
                <form method="get" action="14-lock-down " id="newCase_Form-B">  
            {% else %}
                <form method="get" action="5-case-overview" id="newCase_Form-B">  
            {% endif %}

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Case details</h1>
                    </legend>

                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="newCase_SharedAccess">What platforms would you like to use for this case?</label>
                        <div id="newCase_SharedAccess-hint" class="govuk-hint">Select all that apply</div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="newCase_SharedAccess-Egress" name="newCase_SharedAccess" type="checkbox" value="Egress" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="newCase_SharedAccess-Egress">Egress</label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="newCase_SharedAccess-Drive" name="newCase_SharedAccess" type="checkbox" value="Shared drive" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="newCase_SharedAccess-Drive">Shared drive</label>
                            </div>                            
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="newCase_SharedAccess-Outlook" name="newCase_SharedAccess" type="checkbox" value="Outlook" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="newCase_SharedAccess-Outlook">Outlook</label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="newCase_SharedAccess-REMs" name="newCase_SharedAccess" type="checkbox" value="REMs">
                                <label class="govuk-label govuk-checkboxes__label" for="newCase_SharedAccess-REMs">REMs</label>
                            </div>

                       </div>
                    </div>
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="newCase_Access-Role">What is your role on this case?</label>
                        <select class="govuk-select" id="newCase_Access-Role" name="newCase_Access-Role">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Lead Prosecutor">Lead Prosecutor</option>
                            <option value="Prosecutor">Prosecutor</option>
                            <option value="Lead Caseworker">Lead Caseworker</option>
                            <option value="Caseworker">Caseworker</option>
                            <option value="Crown Advocate (HCA)">Crown Advocate (HCA)</option>
                        </select>
                    </div>
                    <!-- OPTION 2 - END -->

                </fieldset>

                <button type="submit" class="govuk-button" style="" id="newCase_SharedAccess">Continue</button>
                <button type="button" onclick="location.href='2-homepage';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}