{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/cps/nav/v8/logNav.html" %}
{% include "includes/cps/nav/v8/logHomeNav.html" %}
{% endblock %}
{% block content %}

<style>
.govuk-footer__copyright-logo {
  display: none;
}

.govuk-header__logotype {
/*  display: none;*/
}

@media (min-width: 48.0625em) {
.govuk-header__logo {
  width: 50% !important;
}
}

  @media (max-width: 641px) {
.govuk-header__logotype-text {
  font-size: 22px;
}
 }
</style>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Redaction log
        </h1>



<!-- <h2 class="govuk-heading-m">This service is for:</h2>
     <ul class="govuk-list govuk-list--bullet">
              <li>teachers who want to register to study for an NPQ</li>
                <li>headteachers who want to apply for the Additional Support Offer (ASO) for NPQ Headship .</li>
      </ul> -->

       

        <p>Use this redaction log to support your Area/CCD to engage with investigators on redaction performance. You must provide evidence on specific redaction that CPS has completed or any over redaction noted.</p>

<!--  <h2 class="govuk-heading-m">Before you start</h2> -->
        <p class="govuk-body">All staff are responsible for protecting personal and sensitive personal data disclosed in the course of an investigation or prosecution. The CPS is resposible for ensuring:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>it only handles data recieved from the Investigator if it is required for a law enforecment purpose</li>
                <li>that personal and sensitive personal data is not disclosed to any third party including the Defence and Court unless that disclosure is for a law enforcement purpose</li>

            </ul>

            <div style="margin-top:35px"></div>
            <form action="log/addlog">
             <button class="govuk-button ">Create a new redaction log</button>
            </form> 
          
    </div>
</div>
</main>
</div>

{% endblock %}
